body {
    position: relative;
}

.profpic1 {
    position: absolute;
    left: -20px;
    top: 20px;
}

label {
    display: block;
    float: left;
}

label, input {
    width: 68px;
    margin: 3px 0;
}

.container {
    width: 500px;
    position: absolute;
    right: 0px;
    top: 50px;
}

#botao {
    display: block;
}

#dados {
    width: 750px;
    position: absolute;
    right: 30px;
    top: 50px;
    border: solid 1px black;
    padding-top: 10px;
}

p {
    display: inline;
}

.esquerda {
    float: left;
    margin-left: 10px;
    display: block;
}

.direita {
    float: right;
    display: block;
    margin-right: 20px;
}

#dados-esquerda {
    width: 360px;
    display: block;
    float: left;
}

#dados-direita {
    width: 350px;
    display: block;
    float: right;
}

#dados-emcima {
    display: inline;
    background-color: black;
}

#dados-embaixo {
    width: 100%;
}

.editar {
    float: right;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 20px;
    margin: 0px;
    padding: 0px;
}

input {
    width: 150px;
    display: none;
}

.editar-none {
    float: right;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 20px;
    margin: 0px;
    padding: 0px;
    display: none;
}